<div class="dropdown"style="position:relative;left:100px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a (click)="updateLimit(5)">5</a></li>
      <li><a (click)="updateLimit(10)">10</a></li>
      <li><a (click)="updateLimit(50)">50</a></li>
      <li><a (click)="updateLimit(100)">100</a></li>      
    </ul>
  </div>
<div *ngFor="let image of imageList" style="display: inline-block; position:relative;left:50px; top:100px" >
  <ul style="list-style-type: none">
    <li><img src={{image.thumbnailUrl}} (click)="currentImage(image.url)"/></li>
  </ul>
</div>
<img *ngIf="currenturl" src={{currenturl}}/>